* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(223, 21, 55);
  font-size: 35px;
}

h1,
p {
  text-align: center;
  margin: 15px 0;
}

nav {
  background-color: rgb(212, 131, 144);
  padding: 20px;
  text-align: right;
}

nav ul li {
  list-style: none;
  font-size: 1.2em;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.8em;
}

.container {
  display: block;
  margin-left: 180px;
  margin-bottom: 150px;
  margin-top: 80px;
}

.container img {
  width: 280px;
  height: 380px;
  margin: 10px;
  /* border: 2px solid rgb(231, 6, 212); */
  box-shadow: 2px 2px 15px 2px rgb(80, 1, 38);
}

footer {
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(251, 251, 241);
  padding: 40px 10px;
}
